.header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #66d48b;
  align-items: center;
}

.title {
  margin-right: auto;
  padding: 50px;
  font-size: 40px;
  font-style: Regular;
  color: #fff;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 50px;
  font-size: 24px;
  font-style: Regular;
  color: #fff;
}

.main {
  text-align: center;
  margin: auto;
  max-width: 600px;
  min-width: 300px;
}

.thread_list {
  padding-left: 0;
}

.thread_title {
  list-style: none;
  font-size: 20px;
  border: 1px solid #565656;
  border-radius: 5px;
  background: #ffffff;
}

.thread_link {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none; /* 意味：リンクの下線を消す */
  transition: all 0.15s ease-in-out; /* 意味：ホバー時のアニメーション */
}

.thread_link:hover {
  background-color: gray;
  color: white;
}

.post_list {
  padding-left: 0;
}

.post_title {
  list-style: none;
  margin: 10px;
  padding: 5%;
  font-size: 20px;
  border: 1px solid #565656;
  border-radius: 5px;
  background: #ffffff;
}

.form > input {
  width: 80%;
  height: 50px;
  padding: 10px;
  font-size: 30px;
  border: 1px solid #565656;
  border-radius: 10px;
}

.form > div {
  margin: 50px;
}

.button {
  width: 100px;
  margin-left: 50%;
  font-size: 20px;
  color: #ffffff;
  background-color: #66d48b;
  border-radius: 10px;
  border: 1px solid #565656;
}

button:disabled {
  background-color: gray;
  color: black;
}

input:disabled {
  background-color: gray;
  color: black;
}

p {
  color: red;
  font-size: small;
}

.post-form {
  display: flex;
  flex-direction: row;
}
